footer
  box-sizing: border-box
  width: 100%
  max-width: 1700px
  min-weidth: 360px
  utube.com

  height: 10vh
  margin: 0 auto
  padding: 0px 7%

  ul
    display: inline-block
    width: 80%
    margin-top: 3%
    padding: 0px
  
  li
    display: inline-block
    margin-left: 2%
    list-style: none
    color: #1a1a1a
    font-size: 18pt
    letter-spacing: .3em
    line-height: 40pt
    font-family: proxima-nova, sans-serif
    text-transform: uppercase

  li:nth-child(1)
    margin-left: 0px

  a
    text-decoration: none
    color: #1a1a1a

  .footer_logo
    display: inline-block
    width: 20%
    float: right
    margin-top: 3%

    img
      float: right
      margin-left: 15%
      margin-top: 0.5em
      line-height: 40pt






















