.section_down
  display: inline-block
  position: relative
  width: 100%
  background-color: #262626

  .text_block 
    +user-select
    cursor: default
    position: absolute
    width: 100%
    height: 25%
    text-align: center
    margin: auto
    padding: 0px
    top: 0px
    bottom: 0px

    p
      margin: 0px
      padding: 0px
      font-family: proxima-nova, sans-serif
      line-height: 200%
      text-transform: uppercase

    .text_up
      color: $font-color-master
      font-size: 40pt
      line-height: 70pt
      letter-spacing: .6em
      font-weight: normal
      font-style: normal

    .text_down
      color: $font-color-slave
      font-size: 24pt
      line-height: 75pt
      letter-spacing: .4em
      font-weight: bold

.down_image
  float: left
  width: 25%
  height: 420px 
  opacity: .3

.down_image1
  background: url(../pictures/section_down1.png) no-repeat center center

.down_image2
  background: url(../pictures/section_down2.png) no-repeat center center

.down_image3
  background: url(../pictures/section_down3.png) no-repeat center top

.down_image4
  background: url(../pictures/section_down4.png) no-repeat center center

.down_image5
  background: url(../pictures/section_down5.png) no-repeat center center

.down_image6
  background: url(../pictures/section_down6.png) no-repeat center center

.down_image7
  background: url(../pictures/section_down7.png) no-repeat center center

.down_image8
  background: url(../pictures/section_down8.png) no-repeat center center
