.section_up
  display: inline-block
  width: 90%
  padding: 5% 

  p
    +user-select
    margin: 0
    padding: 20px
    font-family: proxima-nova, sans-serif
    font-size: 20px
    text-align: left
    color: #fff
    text-transform: uppercase
    letter-spacing: 10px

.body_image1
  position: relative
  box-sizing: border-box
  display: inline-block
  float: left
  margin-bottom: 2%
  width: 66%
  height: 653px
  padding: 350px 0 50px 50px
  background: url(../pictures/section_up1.png) no-repeat
  background-size: 100% auto

  img
    position: absolute
    height: auto
    bottom: 110px

  p
    +user-select
    cursor: default
    position: absolute
    padding: 0px
    margin: 0px
    font-family: proxima-nova, sans-serif
    font-size: 240%
    line-height: 20px 
    letter-spacing: 20px
    text-align: left
    bottom: 45px

.body_image
  position: relative
  box-sizing: border-box
  display: inline-block
  float: right
  margin: 0px 0px 2% 2%
  width: 32%
  height: 311px
  padding: 120px 40px 40px 40px
  +background-size(auto, auto)

  img
    position: absolute
    width: auto
    height: 75px
    bottom: 110px

  p
    +user-select
    cursor: default
    position: absolute
    width: 55%
    padding: 0px
    margin: 0px
    font-family: proxima-nova, sans-serif
    font-size: 150%
    line-height: 35px 
    text-align: left
    bottom: 25px

.body_image2 
  background: url(../pictures/section_up2.png) no-repeat left center

.body_image3
  background: url(../pictures/section_up3.png) no-repeat left center

.body_image4
  background: url(../pictures/section_up4.png) no-repeat center center
  height: 585px

.body_image5
  background: url(../pictures/section_up5.png) no-repeat center 30%
  height: 585px

.body_image6
  background: url(../pictures/section_up6.png) no-repeat center center
  height: 585px
  margin-left: 0px
